# Android / Flutter
.android/
.avd/
*.keystore
*.jks
*.iml

# SDK & Emulator
sdk/
cache/
*.img
*.ini
*.lock
*.xml

# System
.DS_Store
Thumbs.db

# User uploaded files (local only - not tracked)
uploads/
public/

# Go
*.exe
*.dll
*.so
*.dylib
vendor/
